

.background {
  background-image: url(./assets/img/landingPic.jpg);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
}

.welcomeMsg {
  font-size: 40px;
  text-align: center;
  padding-top: 10px;
  font-weight: 600;
  font-style: italic;
}

.brandBtnDiv {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-left: 40px;
  max-width: 450px;
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.brandBtn:hover {
  cursor: pointer;
}


.tracking-in-expand {
  -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}


@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}

.Taylormade {
  background-image: url(./assets/img/Taylormade_logo.png);
}

.Callaway {
  background-image: url(./assets/img/callaway.png);
}

.Titleist {
  background-image: url(./assets/img/titleist_logo.png);
}

.Bridgestone {
  background-image: url(./assets/img/Logo-bridgestone.png);
}

.TopFlite {
  background-image: url(./assets/img/TopFliteLogo.jpeg);
}

.Pinnacle {
  background-image: url(./assets/img/Pinnacle_Golf_logo.png);
}

.Kirkland {
  background-image: url(./assets/img/kirkland.png);
}

.WilsonStaff {
  background-image: url(./assets/img/wilsonStaff.jpg);
}

.Volvik {
  background-image: url(./assets/img/volvik-logo-800x191.png);
}

.MaxFli {
  background-image: url(./assets/img/maxfliLogo.png);
}

.Vice {
  background-image: url(./assets/img/viceLogo.png);
}

.Srixon {
  background-image: url(./assets/img/Srixon_golf_logo.png);
}

.brandBtn {
  border: none;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  margin: 2px;
  height: 60px;
  width: 200px;
  border-radius: 10px;
  background-color: #FFFFFF;
}

.brandBtn:hover {
  cursor: pointer;
  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
  animation: heartbeat 1.5s ease-in-out infinite both;
}

@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}


.hide {
  display: none;
}

.ballList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-image: url(./assets/img/landingPic.jpg);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.ballList-item {
  margin: 0.5em;
  background-color: #FFFFFF;
  padding: 7px;
  border-radius: 30px;
  border: rgb(0, 0, 0) solid 2px;
  transition: all .2s ease-in-out; 
}

.ballList-item:hover {
  transform: scale(1.1); 
}

.centerText {
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
  
}

.buyLink {
  margin: auto;
  display: flex;
  margin-top: 10px;
  border: black 1px solid;
  background-color: lightgreen;
  width: 40%;
  display: flex;
  justify-content: center;
  border-radius: 10px;
}

.ballImg {
  /* border: none; */
  /* background-size: 50%; */
  /* background-repeat: no-repeat; */
  /* background-position: center; */
  margin: 2px;
  height: 100px;
  width: auto;
}

.imgDiv {
  display: flex;
  justify-content: center;
}

.ballDesc {
  font-size: 10px;
  border-radius: 20px;
  padding: 4px;
}

h1 {
  margin: 0;
}

.bounce-top {
  -webkit-animation: bounce-top 0.9s both;
  animation: bounce-top 0.9s both;
}

@-webkit-keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
  }

  24% {
    opacity: 1;
  }

  40% {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  65% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  82% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  93% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}

@keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
  }

  24% {
    opacity: 1;
  }

  40% {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  65% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  82% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  93% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}

.backBtnDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.backBtn {
  width: 30%;
  font-size: 30px;
  border-radius: 10px;
  /* background-color: ; */
  transition: all .2s ease-in-out; 
}

.backBtn:hover {
  cursor: pointer;
  background-color: lightgreen;
  transform: scale(1.1); 
}

.ballModel {
  font-size: 20px;
  font-weight: 600;
  color: black;

}

@media screen and (max-width: 580px) {

  .brandBtn {
    border: none;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    /* margin: 2px; */
    height: 60px;
    width: 150px;
    border-radius: 10px;
    background-color: #FFFFFF;
  }

  .backBtn {
    width: 50%;
    font-size: 20px;
    border-radius: 10px;
    background-color: lightgreen;
    transition: all .2s ease-in-out; 
  }

  .ballList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url(./assets/img/landingPic.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
  }
}